  body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  p {
    font-size: 1.5rem;
  }
   
  .hidden {
    display: none;
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* PARTICLE.JS CSS
  /* ------------------------------------------------------------------------------------------------------------------- */
  #particles-js{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* MAIN NAV BAR
  /* ------------------------------------------------------------------------------------------------------------------- */
  #mainNav .navbar-toggler{
    border: none;
    font-size: 1.25rem;
  }
  #mainNav .navbar-toggler:focus, #mainNav .btn-close:focus{
    box-shadow: none;
    outline: none;
  }

  #mainNav .nav-item{
    color: #000000;
    font-weight: 500;
  }
  #mainNav .nav-link:hover, #mainNav .nav-item .active{
    color: #67dcff;
    font-weight: 500;
    position: relative;
  }


  @media (min-width: 991px){
    #mainNav .nav-item .active{
    color: #67dcff;
    font-weight: 500;
    position: relative;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
      height: 67px;
      transition: background-color 0.3s, height 0.3s;
    }
    #mainNav.navbar-shrink, #mainNav.navbar-brand {
      font-size: inherit;
    }
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* HOME
  /* ------------------------------------------------------------------------------------------------------------------- */
  #home {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
  }
  #home a {
    text-decoration: none;
    color: #000000;
  }
  #home .container {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 1000px;
    padding: 2em 3em;
  }
  #home .content{
    display:inline; 
    font-size: 35px; 
    padding-left: 30px
  }
  @media (max-width: 568px) {
    #home .container .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #home.container .content p {
      margin: 5px 0;
    }
  }
  #home .inicio_social-buttons {
    display: flex;
    flex-direction: row; /* Establece la dirección del flujo como fila */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: auto; /* Mueve el contenedor hacia la derecha para centrarlo */
    margin-right: auto; /* Mueve el contenedor hacia la izquierda para centrarlo */
  }
  #home .inicio_social-buttons .inicio_social-buttons_item {
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }
  #home .inicio_social-buttons .inicio_social-buttons_item a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }
  #home .inicio_social-buttons .inicio_social-buttons_item .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }
  #home .inicio_social-buttons .inicio_social-buttons_item .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #home .inicio_social-buttons .inicio_social-buttons_item:hover a{
    color: #67dcff;
    transform: scale(1.1);
  }
  #home .inicio_social-buttons .inicio_social-buttons_item:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.1);
  }
  #home .inicio_social-buttons .inicio_social-buttons_item:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  #home .arrowlanding {
    color: black;
    position: absolute;
    top: 98%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 1000px;
    padding: 2em 3em;
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* INFORMATION
  /* ------------------------------------------------------------------------------------------------------------------- */
  #information {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgb(233, 250, 255);
    overflow: hidden;
    
    text-align: center;
    color: black;
    position: relative;
  }
  #information .container {
    width: 100%;
    max-width: 1000px;
    color: rgb(0, 0, 0);
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-align: center; /* Centra el texto */

    margin: 0 auto; /* Centra el contenedor */
    top: 50%;
    right: 50%;
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* CURRICULUM
  /* ------------------------------------------------------------------------------------------------------------------- */
  #curriculum {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    text-align: center;
    color: black;
    position: relative;
  }
  #curriculum a {
    text-decoration: none;
    color: #000000;
  }
  #curriculum .container {
    width: 100%;
    max-width: 1000px;
    color: rgb(0, 0, 0);
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-align: center; /* Centra el texto */

    margin: 0 auto; /* Centra el contenedor */
    top: 50%;
    right: 50%;
  }
  #curriculum .row_curriculum {
    display: flex;
    flex-direction: row; /* Establece la dirección del flujo como fila */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: auto; /* Mueve el contenedor hacia la derecha para centrarlo */
    margin-right: auto; /* Mueve el contenedor hacia la izquierda para centrarlo */
  }
  #curriculum .row_curriculum .row_curriculum_item {
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }
  #curriculum .row_curriculum .row_curriculum_item a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }
  #curriculum .row_curriculum .row_curriculum_item .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }
  #curriculum .row_curriculum .row_curriculum_item .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #curriculum .row_curriculum .row_curriculum_item:hover a{
    color: #67dcff;
    transform: scale(1.1);
  }
  #curriculum .row_curriculum .row_curriculum_item:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.1);
  }
  #curriculum .row_curriculum .row_curriculum_item:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  #curriculum .descarga_button{
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }
  #curriculum .descarga_button a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }
  #curriculum .descarga_button .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }
  #curriculum .descarga_button .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #curriculum .descarga_button:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.1);
  }
  #curriculum .descarga_button:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* MODALS
  /* ------------------------------------------------------------------------------------------------------------------- */  
  /*-Studies-*/
  .modalStudies::backdrop{
    color:rgba(0, 0, 0, 0.55)
  }
  #modalStudies a {
    text-decoration: none;
    color: #000000;
  }
  #modalStudies u{
    color: #67dcff;
  }
  #modalStudies .closeModalBtn{
    color: #67dcff;
  }
  #modalStudies .closeModalBtn{
    display: inline-block;
  }
  #modalStudies .closeModalBtn a {
    transition: color 0.3s;
  }
  #modalStudies .closeModalBtn .circle {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100px;
    height: 75px;
    border-radius: 50%;
    background-color: #000;
    transition: background-color 0.3s;
    overflow: hidden;
    text-align: center;
  }
  #modalStudies .closeModalBtn .circle .fa {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: 24px;
  }
  #modalStudies .closeModalBtn:hover .circle {
    background-color: #67dcff;
    transform: scale(1.1);
  }
  #modalStudies .closeModalBtn:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  .modalSkills::backdrop{
    color:rgba(0, 0, 0, 0.55)
  }
  #modalSkills a {
    text-decoration: none;
    color: #000000;
  }
  #modalSkills u{
    color: #67dcff;
  }
  #modalSkills .closeModalBtn{
    color: #67dcff;
  }
  #modalSkills .closeModalBtn{
    display: inline-block;
  }
  #modalSkills .closeModalBtn a {
    transition: color 0.3s;
  }
  #modalSkills .closeModalBtn .circle {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100px;
    height: 75px;
    border-radius: 50%;
    background-color: #000;
    transition: background-color 0.3s;
    overflow: hidden;
    text-align: center; 
  }
  #modalSkills .closeModalBtn .circle .fa {
    justify-content: center; 
    align-items: center; 
    vertical-align: middle;
    color: white;
    font-size: 24px;
  }
  #modalSkills .closeModalBtn:hover .circle {
    background-color: #67dcff;
    transform: scale(1.1);
  }
  #modalSkills .closeModalBtn:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  .modalExperience::backdrop{
    color:rgba(0, 0, 0, 0.55)
  }
  #modalExperience a {
    text-decoration: none;
    color: #000000;
  }
  #modalExperience u{
    color: #67dcff;
  }
  #modalExperience .closeModalBtn{
    color: #67dcff;
  }
  #modalExperience .closeModalBtn{
    display: inline-block;
  }
  #modalExperience .closeModalBtn a {
    transition: color 0.3s;
  }
  #modalExperience .closeModalBtn .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 75px;
    border-radius: 50%; 
    background-color: #000;
    transition: background-color 0.3s;
    overflow: hidden;
    text-align: center;
  }
  #modalExperience .closeModalBtn .circle .fa {
    justify-content: center;
    align-items: center; 
    vertical-align: middle;
    color: white;
    font-size: 24px;
  }
  #modalExperience .closeModalBtn:hover .circle {
    background-color: #67dcff; 
    transform: scale(1.1);
  }
  #modalExperience .closeModalBtn:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* References
  /* ------------------------------------------------------------------------------------------------------------------- */
  #references{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgb(233, 250, 255);
    overflow: hidden;

    text-align: center;
    color: black;
    position: relative;
  }
  #references a {
    text-decoration: none;
    color: #67dcff;
  }
  #references .container{
    width: 100%;
    max-width: 1000px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin: 0 auto;
    top: 50%;
    right: 50%;
  }
  #references .cards{
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  #references .cards label{
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
  }
  #references .cards .card{
    position: relative;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 35px;

  }
  #references .cards .image{
    display: flex;
    justify-content: space-between;
    justify-content: center;
  }
  #references .cards .image img{
    border-radius: 5px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.50);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
    transition: all .7s;
  }
  #references .cards .card:hover{
    transform: scale(1.02);
  }
  #references .cards .infos{
    display: block;
    text-align: end;
    padding-top: 60px;
  }
  #references .cards .infos span{
    display: block;
  }
  #references .cards .infos .name{
    font-size: 30px;
    color: var(--current-color);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all 0.6s ease;
  }
  #references .card .lorem{
    font-size: 15.5px;
    color: #000;
    letter-spacing: 3px;
  }
  #references input{
    display: none;
  }
  #s1:checked~.cards #slide4,
  #s2:checked~.cards #slide5,
  #s3:checked~.cards #slide1,
  #s4:checked~.cards #slide2,
  #s5:checked~.cards #slide3{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
    transform: translate3d(-70%, 0, -220px);
  }
  #s1:checked~.cards #slide5,
  #s2:checked~.cards #slide1,
  #s3:checked~.cards #slide2,
  #s4:checked~.cards #slide3,
  #s5:checked~.cards #slide4{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
    transform: translate3d(-35%, 0, -120px);
  }
  #s1:checked~.cards #slide1,
  #s2:checked~.cards #slide2,
  #s3:checked~.cards #slide3,
  #s4:checked~.cards #slide4,
  #s5:checked~.cards #slide5{
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.50);
    transform: translate3d(0, 0, 0);
  }
  #s1:checked~.cards #slide2,
  #s2:checked~.cards #slide3,
  #s3:checked~.cards #slide4,
  #s4:checked~.cards #slide5,
  #s5:checked~.cards #slide1{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
    transform: translate3d(35%, 0, -120px);
  }
  #s1:checked~.cards #slide3,
  #s2:checked~.cards #slide4,
  #s3:checked~.cards #slide5,
  #s4:checked~.cards #slide1,
  #s5:checked~.cards #slide2{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
    transform: translate3d(70%, 0, -220px);
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* PORTFOLIO
  /* ------------------------------------------------------------------------------------------------------------------- */

  #portfolio {
    background-image:url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-size: cover;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ajusta el alto al 100% del viewport */
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
    height: auto;
  }

  /* ------------------------------------------------------------------------------------------------------------------- */
  /* CONTACT
  /* ------------------------------------------------------------------------------------------------------------------- */
  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    text-align: center;
    color: black;
    position: relative;
  }
  #contact a {
    text-decoration: none;
    color: #67dcff;
  }
  #contact .container {
    width: 100%;
    max-width: 1000px;
    color: rgb(0, 0, 0);
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-align: center; /* Centra el texto */

    margin: 0 auto; /* Centra el contenedor */
    top: 50%;
    right: 50%;
  }
  #contact .row_contact {
    display: flex;
    flex-direction: row; /* Establece la dirección del flujo como fila */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: auto; /* Mueve el contenedor hacia la derecha para centrarlo */
    margin-right: auto; /* Mueve el contenedor hacia la izquierda para centrarlo */
  }
  #contact .row_contact .row_contact_item {
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }
  #contact .row_contact .row_contact_item a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }
  #contact .row_contact .row_contact_item .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }
  #contact .row_contact .row_contact_item .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #curriculum .row_curriculum .row_curriculum_item:hover a{
    color: #67dcff;
    transform: scale(1.1);
  }
  #contact .row_contact .row_contact_item:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.1);
  }
  #contact .row_contact .row_contact_item:hover .circle .fa {
    color: rgb(0, 0, 0);
    transform: scale(1.1);
  }
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* FOOTER
  /* ------------------------------------------------------------------------------------------------------------------- */
  footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }