  body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  p {
    font-size: 1.5rem;
  }
  
  
  /* ------------------------------------------------------------------------------------------------------------------- */
  /* PARTICLE.JS CSS
  /* ------------------------------------------------------------------------------------------------------------------- */
  
  #particles-js{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }


  /* ------------------------------------------------------------------------------------------------------------------- */
  /* MAIN NAV BAR
  /* ------------------------------------------------------------------------------------------------------------------- */
  
  #mainNav {
    background-color: white;
  }

  #mainNav a {
    color: #67dcff;
    text-decoration: none;
  }

  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #67dcff;
  }

  /* Color of 'from data to viz' on the top left */
  #mainNav .navbar-brand {
    color: #67dcff;
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #251667;
  }
  
  /* Color of the TEXT of the menu top right*/
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: black;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #67dcff;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid #67dcff;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      background-color: transparent;
    }
    
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
    }
  
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }


  /* ------------------------------------------------------------------------------------------------------------------- */
  /* HOME
  /* ------------------------------------------------------------------------------------------------------------------- */
  
  .masthead {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
    
  }
  #masthead a {
    text-decoration: none;
  }

  .masthead .container {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 1000px;
    padding: 2em 3em;
  }
  .masthead .inicio_social-buttons {
    list-style: none;
    padding: 0;
    text-align: center; /* Alinea los íconos en el centro */
  }

  .masthead .inicio_social-buttons .inicio_social-buttons_item {
    display: inline-block; /* Muestra los íconos en línea */
    margin: 0 10px; /* Añade un espacio entre los íconos */
  }

  .masthead .inicio_social-buttons .inicio_social-buttons_item .circle {
    display: inline-block;
    width: 40px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 30px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  .masthead .inicio_social-buttons .inicio_social-buttons_item .circle .fa {
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
  }

  .masthead .inicio_social-buttons .inicio_social-buttons_item:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }

  .masthead .inicio_social-buttons .inicio_social-buttons_item:hover .circle .fa {
    color: rgb(0, 0, 0);
  }
  
  .arrowlanding {
    color: black;
    position: absolute;
    top: 98%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 1000px;
    padding: 2em 3em;
  }
  

  /* ------------------------------------------------------------------------------------------------------------------- */
  /* INFORMATION
  /* ------------------------------------------------------------------------------------------------------------------- */

  #information {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ajusta el alto al 100% del viewport */
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
  }

  #information .container {
    color: rgb(0, 0, 0);
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-align: center; /* Centra el texto */
    max-width: 1000px; /* Establece el ancho máximo del texto */
    margin: 0 auto; /* Centra el contenedor */
    top: 50%;
    right: 50%;
  }


  /* ------------------------------------------------------------------------------------------------------------------- */
  /* CURRICULUM
  /* ------------------------------------------------------------------------------------------------------------------- */
  
  #curriculum {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ajusta el alto al 100% del viewport */
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
  }

  #curriculum a {
    text-decoration: none;
    color: #000000;
  }

  #curriculum .container {
    color: rgb(0, 0, 0);
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-align: center; /* Centra el texto */
    max-width: 1000px; /* Establece el ancho máximo del texto */
    margin: 0 auto; /* Centra el contenedor */
    top: 50%;
    right: 50%;
    
  }

  #curriculum .row_curriculum {
    
    display: flex;
    flex-direction: row; /* Establece la dirección del flujo como fila */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: auto; /* Mueve el contenedor hacia la derecha para centrarlo */
    margin-right: auto; /* Mueve el contenedor hacia la izquierda para centrarlo */
  }
  
  #curriculum .row_curriculum .row_curriculum_item {
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }
  #curriculum .row_curriculum .row_curriculum_item a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }

  #curriculum .row_curriculum .row_curriculum_item .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  #curriculum .row_curriculum .row_curriculum_item .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #curriculum .row_curriculum .row_curriculum_item:hover a{
    color: #67dcff;
  }

  #curriculum .row_curriculum .row_curriculum_item:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }
  
  #curriculum .row_curriculum .row_curriculum_item:hover .circle .fa {
    color: rgb(0, 0, 0);
  }

  #curriculum .descarga_button{
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }

  #curriculum .descarga_button a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }

  #curriculum .descarga_button .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  #curriculum .descarga_button .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #curriculum .descarga_button:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }

  #curriculum .descarga_button:hover .circle .fa {
    color: rgb(0, 0, 0);
  }
  

  /* ------------------------------------------------------------------------------------------------------------------- */
  /* MODALS
  /* ------------------------------------------------------------------------------------------------------------------- */  
  
  /*-Studies-*/
  .modalStudies::backdrop{
    color:rgba(0, 0, 0, 0.55)
  }

  #modalStudies a {
    text-decoration: none;
    color: #000000;
  }

  #modalStudies u{
    color: #67dcff;
  }

  #modalStudies .closeModalBtn{
    color: #67dcff;
  }
  
  #modalStudies .closeModalBtn{
    display: inline-block; /* Muestra los íconos en línea */
  }

  #modalStudies .closeModalBtn a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }

  #modalStudies .closeModalBtn .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  #modalStudies .closeModalBtn .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #modalStudies .closeModalBtn:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }

  #modalStudies .closeModalBtn:hover .circle .fa {
    color: rgb(0, 0, 0);
  }


  /*-Skills-*/
  .modalSkills::backdrop{
    color:rgba(0, 0, 0, 0.55)
  }

  #modalSkills a {
    text-decoration: none;
    color: #000000;
  }

  #modalSkills u{
    color: #67dcff;
  }

  #modalSkills .closeModalBtn{
    color: #67dcff;
  }
  
  #modalSkills .closeModalBtn{
    display: inline-block; /* Muestra los íconos en línea */
  }

  #modalSkills .closeModalBtn a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }

  #modalSkills .closeModalBtn .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  #modalSkills .closeModalBtn .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #modalSkills .closeModalBtn:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }

  #modalSkills .closeModalBtn:hover .circle .fa {
    color: rgb(0, 0, 0);
  }


  /*-Experience-*/
  .modalExperience::backdrop{
    color:rgba(0, 0, 0, 0.55)
  }

  #modalExperience a {
    text-decoration: none;
    color: #000000;
  }

  #modalExperience u{
    color: #67dcff;
  }

  #modalExperience .closeModalBtn{
    color: #67dcff;
  }
  
  #modalExperience .closeModalBtn{
    display: inline-block; /* Muestra los íconos en línea */
  }

  #modalExperience .closeModalBtn a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }

  #modalExperience .closeModalBtn .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  #modalExperience .closeModalBtn .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }
  #modalExperience .closeModalBtn:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }

  #modalExperience .closeModalBtn:hover .circle .fa {
    color: rgb(0, 0, 0);
  }


  /* ------------------------------------------------------------------------------------------------------------------- */
  /* PORTFOLIO
  /* ------------------------------------------------------------------------------------------------------------------- */

  #portfolio {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ajusta el alto al 100% del viewport */
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
  }


  /* ------------------------------------------------------------------------------------------------------------------- */
  /* CONTACT
  /* ------------------------------------------------------------------------------------------------------------------- */
  
  #contact {
    text-align: center;
    color: black;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  #contact a {
    text-decoration: none;
    color: #67dcff;
  }
  
  #contact .container {
    color: rgb(0, 0, 0);
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
    text-align: center; /* Centra el texto */
    max-width: 1000px; /* Establece el ancho máximo del texto */
    margin: 0 auto; /* Centra el contenedor */
    top: 50%;
    right: 50%;
  }

  #contact .row_contact {
    display: flex;
    flex-direction: row; /* Establece la dirección del flujo como fila */
    justify-content: space-around; /* Distribuye uniformemente los elementos a lo largo del eje principal */
    align-items: center; /* Centra verticalmente los elementos */
    margin-left: auto; /* Mueve el contenedor hacia la derecha para centrarlo */
    margin-right: auto; /* Mueve el contenedor hacia la izquierda para centrarlo */
  }

  #contact .row_contact .row_contact_item {
    display: inline-block; /* Muestra los íconos en línea */
    color: #000000;
  }

  #contact .row_contact .row_contact_item a {
    transition: color 0.3s; /* Transición suave del color de fondo */
  }

  #contact .row_contact .row_contact_item .circle {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ajusta el tamaño del círculo según sea necesario */
    height: 75px;
    border-radius: 50%; /* Crea un círculo */
    background-color: #000; /* Color de fondo negro */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    overflow: hidden;
    text-align: center; /* Centra el contenido dentro del círculo */
  }

  #contact .row_contact .row_contact_item .circle .fa {
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    vertical-align: middle; /* Centra el ícono verticalmente */
    color: white;
    font-size: 24px;
  }

  #curriculum .row_curriculum .row_curriculum_item:hover a{
    color: #67dcff;
  }

  #contact .row_contact .row_contact_item:hover .circle {
    background-color: #67dcff; /* Cambia el color de fondo al pasar el ratón */
  }

  #contact .row_contact .row_contact_item:hover .circle .fa {
    color: rgb(0, 0, 0);
  }


  /* ------------------------------------------------------------------------------------------------------------------- */
  /* FOOTER
  /* ------------------------------------------------------------------------------------------------------------------- */

  footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }



  